body{
    font-family: "微软雅黑", Arial;
    background-color: #FAFAFA;
}
.heart{
    width: 1200px;
    margin: 0 auto;
}
i{
    display: inline-block;
}
/* 头部 */
.header{
    width: 100%;
}
.header .header-top{
    height: 37px;
    line-height: 37px;
    font-size: 12px;
    color: #666666;
    background-color: #F5F5F5;
}
.header .header-top .left{
    float: left;
}
.header .header-top .right{
    float: right;
}
.header .header-top .right li{
    float: left;
    width: 90px;
    height: 37px;
    text-align: center;
    position: relative;
}
.header .header-top .right li a{
    height: 12px;
    border-left: 1px solid #dbdbdd;
    padding:0 14px ;
    color: #666666;
}
.header .header-top .right li a:hover{
    color: #ff7919;
}
.header .header-top .right li a i{
    display: inline-block;
    width: 9px;
    height: 16px;
    background: url(../img/icons_03.png) no-repeat;
    background-position: -228px -11px;
    vertical-align: text-top;
    margin-right: 4px;
}
.header .header-top div li .mobile{
    width: 90px;
    position: absolute;
    top: 37px;
    right: 0px;
    border: 1px solid #ebebeb;
    border-top: none;
    z-index: 10;
    display: none;
}
.header .header-top .right li:nth-child(2):hover{
    background-color: #ffffff;
}
/* 头下半部 */
.header-bottom{
    width: 100%;
    height: 175px;
}
.shadow{
   box-shadow: 0 2px 5px #ebebeb; 
}

.header-bottom-top{
    height: 130px;
}
.header-bottom-top div{
    float: left;
}
/* logo */
.header-bottom-top .logo a{
    display: inline-block;
    width: 193px;
    height: 64px;
    margin:38px 30px 0 0;
    background: url(../img/juooo_logo.png) no-repeat ;
    background-size: 100% 100%;
}
/* 全国 */
.header-bottom-top div:nth-child(2) {
    margin-top: 48px;
    width: 175px;
    line-height: 22px;
    
}
.header-bottom-top div .all{
    position: relative;
}
.header-bottom-top div .all>span{
    vertical-align: middle; 
    color: #666666;
}
.header-bottom-top div .all i{
    width: 9px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/icons_03.png) no-repeat;
    background-position: -112px -19px;
}
/* 隐藏块 */
.header-bottom-top div .all>div{
    width: 720px;
    max-height: 500px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 2px #ccc;
    position: absolute;
    top: -16px;
    left: -19px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    display: none;
    z-index: 1000;
}
.header-bottom-top div .all>div .a-title{
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0 18px;
    background-color: #fcfcfc;
    color: #676767;
}
.header-bottom-top div .all>div .a-title i{
    background-position: -112px -10px;
}
.header-bottom-top div .all>div .a-title p{
    display: inline-block;
    margin-left: 52px;
    font-size: 12px;
}
.header-bottom-top div .all>div .a-title p span{
    color: #ff7919;
}
.header-bottom-top div .all>div .a-title .a-close{
    width: 12px;
    height: 12px;
    float: right;
    margin-top: 20px;
    background-position: -518px -11px;
    transform: rotate(0deg);
    transition: all .5s;
}
.header-bottom-top div .all>div .a-title .a-close:hover{
    transform: rotate(180deg);
}
.header-bottom-top div .all>div div:nth-child(2){
    width: 100%;
    margin: 0;
}
.header-bottom-top .all>div div li{
    font-size: 12px;
    
    border-bottom: 1px solid #ebebeb;
    padding: 12px 10px 12px 18px;
    line-height: 32px;
}
.header-bottom-top .all>div div:nth-child(2) li>span{
    width: 78px;
    display: inline-block;
    line-height: 14px;
    border-right:1px solid #ebebeb ;
    vertical-align: top;
    color: #999999;
    margin-top: 10px;
}
.header-bottom-top .all>div div:nth-child(2) li>div {
    display: inline-block;
    max-width: 585px;
    float: none;
}
.header-bottom-top .all>div div:nth-child(2) li>div a{
    margin-left: 18px;
    width: 76px;
    height: 32px;
    line-height: 28px;
    display: inline-block;
    color: #333333;
}
.header-bottom-top .all>div div:nth-child(2) li>div a:hover{
    color: #ff7919;
}

.header-bottom-top div .all-bottom{
    margin-top: 0;
}
.header-bottom-top div .all-bottom a{
    display: inline-block;
    height: 21px;
    line-height: 19px;
    border: 1px solid #ebebeb;
    font-size: 12px;
    color: #b3b3b3;
    padding:0 10px 0 5px;
}
.header-bottom-top div .all-bottom a i{
    width: 8px;
    height: 11px;
    background: url(../img/icons_03.png) no-repeat -85px -13px;
    margin-right: 5px;  
}
/* 搜索块 */
.search{
    width: 516px;
}
.s-input{
    margin-top: 40px;
    font-size: 0;
   
}
.s-input input{
    width: 440px;
    height: 40px;
    padding-left: 10px;
     border:2px solid #ff7919;
    line-height: 36px;
    font-size: 14px;
    
}
.s-input #s-btn{
    width: 60px;
    height: 40px;
    background-color:#ff7919 ;
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 0;
    cursor: pointer;
    text-align: center;
}
.s-input #s-btn i{
    width: 20px;
    height: 20px;
    background: url(../img/icons_03.png) no-repeat -136px -8px;
    margin-top: 10px;
}
.header-bottom-top .search .s-list{
    width: 440px;
    font-size: 12px;
    margin-top: 2px;
}
.header-bottom-top .search .s-list li{
    float: left;
    padding: 0 8px;
}
.header-bottom-top .search .s-list  li:first-child{
    padding-left: 0;
}
.header-bottom-top .search .s-list li a{
    color: #999999;
}
.header-bottom-top .search .s-list li a:hover{
    color: #ff7919;
}
/* 头部导航 */
.header-bottom-bottom{
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    position: relative;
}
.header-bottom-bottom div:first-child{
    height: 45px;
    width: 180px;
    background-color: #ff7919;
    line-height: 45px;
    text-align: center;
    float: left;
}
.header-bottom-bottom div:first-child a{
    color: #ffffff;
}
/* nav */
.header-bottom-bottom .nav-list li{
    float: left;
}
.header-bottom-bottom .nav-list li a{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding-left:45px ;
    color: #1a1a1a;
    font-weight: bold; 
    font-size: 16px;
}
.header-bottom-bottom .nav-list li a:hover{
    color: #ff7919;
}
/* 欢聚橙卡 */
.header-bottom-bottom .nav-right{
    float: right;  
}
/* 左侧列表 */
.nav-left{
    width: 180px;
    height: 400px;
    padding: 18px 0;
    position: absolute;
    left: 0;
    top: 46px;
    background-color: #FAFAFA;
    z-index: 10;
    display: none;
}
.header-bottom-bottom .sort .nav-left>a{
    color: #333333;
    display: block;
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0 30px 0 24px;

}
.nav-left a i:first-child{
    width: 32px;
    height: 32px;
    background: url(../img/icons_03.png) no-repeat -1px -1px;
    vertical-align: middle;
}
.nav-left a span{
    display: inline-block;
    width: 88px;
    height: 100%;
    padding:0 20px 0 5px ;
}
.nav-left a  i:last-child{
    width: 5px;
    height: 8px;
    background: url(../img/icons_03.png) -474px -15px;
}
.header-bottom-bottom .sort .nav-left>a:hover{
    color: #ff7919;
    background-color: #ffffff;
}
.nav-left a:nth-child(2) .nlbg1{
    background-position-y: -55px;
}
.nav-left a:nth-child(3) .nlbg1{
    background-position-y: -107px;
}
.nav-left a:nth-child(4) .nlbg1{
    background-position-y: -212px;
}
.nav-left a:nth-child(5) .nlbg1{
    background: url(../img/1.png) no-repeat 1px 0px;
}
.nav-left a:nth-child(6) .nlbg1{
    background-position-y: -261px;
}
.nav-left a:nth-child(7) .nlbg1{
    background-position-y: -312px;
}
/* 隐藏列表 */
.nav-left .nl-none{
    position: absolute;
    top: 0;
    right: -320px;
    z-index: 10;
}
.nav-left .nl-none li{
    width: 320px;
    height: 400px;
    padding: 14px 30px;
    display: none;
}
/* 设置背景 */
.nav-left .nl-none li:first-child{
    background: url(../img/bg1.jpg);
}
.nav-left .nl-none li:nth-child(2){
    background: url(../img/bg2.jpg);
}
.nav-left .nl-none li:nth-child(3){
    background: url(../img/bg3.jpg);
}
.nav-left .nl-none li:nth-child(4){
    background: url(../img/bg4.jpg);
}
.nav-left .nl-none li:nth-child(5){
    background: url(../img/bg5.jpg);
}
.nav-left .nl-none li:nth-child(6){
    background: url(../img/bg6.jpg);
}
.nav-left .nl-none li:nth-child(7){
    background: url(../img/bg7.jpg);
}

.nav-left .nl-none li>div{
    width: 130px;
    float: left;
    height: 100%;
    background: none;
}
.nav-left .nl-none li a{
    display: block;
    width: 90px;
    height: 60px;
    padding: 0 0 0 8px;
    text-align: left;
    position: relative;
    font-size: 12px;
    color: #333333;
}
.nav-left .nl-none li a:hover{
    color: #ff7919;
    background: none;
}
/* 横线 */
.nav-left .nl-none li a:after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: #e0e0e0;
    position: absolute;
    top: 55px;
    left: 0px;
}
.nav-left .nl-none li a:last-child:after{
    display: none;
}
/* 头部结束 */
/* 中间导航 */
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.content{
    margin:20px 0;
    width: 100%;
    height: 225px;
    font-size: 14px;
    border:1px solid #EAEAEA ;
    background-color: #FFFFFF;
}
.co-item{
    padding-top: 15px;
    width:971px;
    border-right:1px solid #EAEAEA;
    border-bottom:1px solid #EAEAEA; 
}
.co-city{
    float: left;
    width: 76px;
    color: #999;
    line-height: 22px;
    margin-left: 20px;
}
.co-all{
    float: left;
    position: relative;
    z-index: 1;
}
/* 动态样式 */
.on{
    display: inline-block;
    padding: 1px 5px;
    border-radius: 3px;
    background-color: #F85709;
    color: #fff !important;
}
.line{
   color: #F7F2EE;
   margin: 0 7px;
}
.hide{
    display: none !important;
}
/* 动态样式 */
.con-cities{
  display: inline-block;
  font-size: 12px;
   width: 769px;
}
.con-cities a{
    display: inline-block;
    color: #333333;
    line-height: 22px;
    padding: 0 7px;
    margin: 3px 2px;
    margin-bottom: 2px;
}
.con-cities a:hover{
    border-radius: 3px;
    background-color: #F85709;
    color: #fff;
}
.co-last{
    box-sizing: border-box;
    width: 971px;
    height: 59px;
    
    border-right:1px solid #EAEAEA;
    padding:20px 40px 20px 20px;
    color: gray;
}
.c1,.c2,.c3{
    display: inline-block;
    padding: 0 10px;
    box-sizing: content-box;
    text-align: center;
    border: 1px dashed #FB8302;
    color: #FB8302;
    border-radius: 3px;
}
.close{
    position: relative;
    top: -6px;
    color:#FB8302;
}
/* main */
.ma-le{
    width: 957px;
    float: left;
    background-color: #ffffff;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    content: ".";
}
.ma-le1{
    width: 957px;
    height: 39px;
    border: 1px solid #ebebeb;
}
.ma-ti{
    width: 169px;
    height: 39px;
    float: right;
    font-size: 12px;
    line-height: 39px;
}
.ma-ti>li{
    float: left;
    height: 39px;
}
.ma-ti>li>span{
    font-size: 22px;
    color: #666;
    padding: 0 15px;
    border-left:1px solid #ebebeb ;
    cursor: pointer;
}
.ma-ti>li>span:hover{
    color: orange;
    cursor: pointer;
}
.main-1{
    width: 955px;
    height: 255px;
    border-bottom:1px solid #ebebeb ;
    background-color: #ffffff;
}
.main-img{
   width: 154px;
   height: 205px;
   overflow: hidden;
   float: left;
   padding: 25px 20px;
   box-sizing: content-box;
}
.main-img>img{
       width: 154px;
}
.ma-con{
    float: left;
    width: 490px;
    margin-top: 25px;
    height: 205px;
    font-size: 16px;
}
.ma-con p:nth-child(1){
    padding-bottom: 20px ;
}
.ma-con p:nth-child(2){
    color: #999;
    padding: 10px 0;
    font-size: 13px;
}
.ma-con p:nth-child(3){
    color: #999;
    padding: 10px 0;
    font-size: 13px;
}
.ma-con p:nth-child(4){
    color: #999;
    padding: 10px 0;
    font-size: 13px;
}
.ma-con1{
    font-size: 13px;
    color: #FA8323;
}
.ma-con2{
    font-size: 18px;
    color:#FA8323;
}
.ma-btn{
    float: left;
    width: 119px;
    height: 34px;
    text-align: center;
    font-size: 15px;
    background-color:#FA8323 ;
    line-height: 34px;
    color: white;
    border-radius: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
/* main右侧 */
.ma-ri{
    float: right;
    width: 230px;
    height: 716px; 
}
.ma-co{
    padding-top: 5px;
    background-color: #ffffff;
    border-radius: 5px;
}
.new-titles{
    margin: 17px 0;
    border-left: 3px solid #f96c02;
    padding: 0 15px 0 12px;
    font-size: 16px;
    line-height: 1;
}
.new-more{
    color: #666;
    font-size: 12px;
    margin-top: 5px;
    float: right;
}
.new-more:hover{
    color: orange;
}
.new-img1{
    width: 200px;
    height: 150px;
    overflow: hidden;
    margin-left: 15px;
}
.new-img1>img{
    width: 200px;
    height: 120px;
}
.news-list{
    width: 220px;
   margin-top: 10px;
   border-top: 1px solid #CCC;
}
.item{
    width: 220px;
    height: 29px;
    line-height: 29px;
    text-overflow: clip;
    overflow: hidden;
    padding-left: 10px;
    color: gray;
}
.ma-cd{
    margin-top: 15px;
    padding-top: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    height: 330px;
}
.new-img2>img{
    width: 200px;
    height: 100px;
    overflow: hidden;
    margin-left: 15px;
}
.ma-p{
    width: 200px;
    margin: 15px ;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.ma-p:hover{
    color: orange;
}
.ma-mast{
    display: inline-block;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 180px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    margin:30px 0 30px 50% ;
    transform: translateX(-50%);
    color: #999;
    background-color: #fff;
}
.ma-mast:hover{
    color: orange;
    border: orange 1px solid;
}


/* 底部开始 */
.footer{
    width: 100%;
    border-top:1px solid #e0e0e0 ;
}
.f-white{
    width: 100%;
    background-color: #fff;
}
.f-top{
    width: 100%;
    height: 180px;
}
.f-top>ul>li{
    float: left;
    /* height: 140px; */
    margin: 20px 0;
    position: relative;
}
/* 线 */
.f-top>ul>li:after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 120px;
    background-color: #f0f0f0;
    position: absolute;
    top: 10px;
    right: 0px;
}
.f-top>ul>li:last-child:after{
    display: none;
}
.help>li{
    display: inline-block;
    width: 70px;
    height: 30px;
    margin-right: 14px;
}
.help>li>a{
    color: #666666;
    font-size: 12px;
}
.help>li>a:hover{
    color: #ff7919;
}
.f-top>ul>li:first-child{
    width: 344px;
    height: 140px;
    padding-right: 50px;
}
.f-top>ul>li:first-child>div{
    height: 62px;
    line-height: 62px;
    font-size: 16px;
    color: #333;
}

.f-top>ul>li:nth-child(2){
    width: 500px;
    text-align: center;
}
.tel{
    font-size: 24px;
    color: #ff7919;
    width: 100%;
    height: 62px;
    line-height: 62px;
}
.time{
    font-size: 12px;
    color: #666;
    line-height: 30px;
}
.f-top>ul>li:last-child{
    width: 355px;
    padding-left: 36px;
}
.f-top>ul>li:last-child p{
    color: #666666;
    font-size: 12px;
    margin-top: 10px;
}
.ticket{
    display: inline-block;
    margin-top: 20px;
    margin-left: 85px;
    text-align: center;
}
.show{
    display: inline-block;
    margin-top: 20px;
    margin-left: 45px;
    text-align: center;
}
/* 下部 */
.f-gray{
    width: 100%;
    background-color: #F7F7F7;
    font-size: 12px;
}

.f-bottom>div{
    width: 100%;
    text-align: center;
}
.fb-one{
    height: 62px;
    line-height: 62px;
    
}
.fb-one>p{
    display: inline-block;
    color: #999;
}
.fb-one>a{
    display: inline-block;
    line-height: 12px;
    border-right:1px solid  #d6d6d6;
    padding: 0 12px;
    color: #666666;
}
.fb-one>a:hover{
    color: #ff7919;
}
.fb-one>a:last-child{
    border: none;
}
.fb-two li{
    display: inline-block;
}
.fb-two li>a{
    padding: 0 12px;
    color: #808080;
    border-right: 1px solid #d6d6d6;
}
.fb-two li>a:hover{
    color: #ff7919;
}
.fb-two li>a:last-child{
    border: none;
}
.fb-three{
    height: 40px;
    line-height: 35px;
    margin-top: 10px;
    color: #bdbdbd;
}
.fb-three span{
    color: #bdbdbd;
}
.fb-three span>a{
    color: #333;
}
.fb-four{
    height: 52px;
}
.fb-four>a{
    display: inline-block;
    width: 84px;
    height: 35px;
    vertical-align: top;
    background: url(../img/icons_03.png) no-repeat;
}
.fb-four>a:first-child{
    background-position: -89px -133px;
    margin-right: 10px;
}
.fb-four>a:last-child{
    background-position: -182px -133px;
}
/* 底部结束 */

/* 右侧边栏 */
.right-nav{
    position: fixed;
    right: 20px;
    bottom: 20%;
    z-index: 10;
}
.right-nav>a{
    display: block;
    margin-top: -1px;
    border: 1px solid #ebebeb;
    width: 55px;
    height: 55px;
    font-size: 12px;
}
.right-nav>a>span{
    display: block;
    margin: 0 auto;
    width: 53px;
    height: 53px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #999;
    background: #fff;
}
.right-nav .kefu{
    background:#fff url(../img/kefu-d.png) center 10px no-repeat;
}
.right-nav>a:first-child:hover .kefu{
    background:#ff9244 url(../img/kefu-d.png) center -40px no-repeat;
}
.right-nav>a>div{
    position: absolute;
    right: 53px;
    top: 0;
    width: 0px;
    height: 53px;
    line-height: 50px;
    text-align: right;
    background: url(../img/sidebar1-d.png) 0 0 no-repeat;
    transition: .2s ease width;
}
.right-nav>a:first-child:hover .kefu1{
    width: 147px;
    background-position: -58px -213px;
}
.right-nav .app{
    width: 53px;
    height: 53px;
    background-image: url(../img/r1.png);
    background-repeat: no-repeat;
    display: block;
    background-color: white;
    background-position: center;
}

.right-nav>a:nth-child(2):hover .app1{
    width: 147px;
    height: 147px;
    top: 5px;
    background: url(../img/app-d.png) no-repeat;
}
.right-nav>a:nth-child(3):hover .weixin{
    color: white;
    background-color: #ff9244;
}

.right-nav>a:nth-child(3):hover .weixin1{
    top: 60px;
    width: 147px;
    height: 147px;
    background-position: -66px -8px;
}
.right-nav>a:nth-child(4):hover .dianhua{
    color: white;
    background-color: #ff9244;
}
.right-nav>a:nth-child(4):hover .dianhua1{
    top: 162px;
    width: 210px;
    background-position:0 -156px ;
}
.right-nav>:last-child:hover .dingbu{
    color: white;
    background-color: #ff9244;
}
.right-nav>:last-child:hover .dingbu1{
    top: 216px;
    width: 166px;
    background-position:-43px -268px;
}
/* 右侧边栏结束 */
/* 左侧边栏开始 */
.left-list{
    position: fixed;
    left: 0;
    bottom:20%;
    z-index: 10;
    display: none;
}

.left-list li{
    width: 55px;
    height: 54px;
    padding: 1px;
    background: #ebebeb;
    position: relative;
}
.left-list li:last-child{
    border-bottom:1px solid #ebebeb;
}
 .left-list a>span{
    width: 53px;
    height: 53px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #c2c2c2;
    background: #fff;
} 
.left-list a>span:last-child{
    width: 53px;
    height: 53px;
    color: #fff;
    line-height: 50px;
    vertical-align: top;
    padding-left: 1px;
    font-size: 14px;
    position: absolute;
    top: 1px;
    right: -52px;
    background-color: #ff9244;
    display: none;
    
} 
.left-list li:first-child:hover .ych{
    display: block;
}
.left-list li:nth-child(2) span:last-child{
    background-color: #ff6060;
}
.left-list li:nth-child(2):hover .yyj{
    display: block;
}
.left-list li:nth-child(3):hover .wtj{
    display: block;
}
.left-list li:nth-child(4) span:last-child{
    background-color: #90cb55;
}
.left-list li:nth-child(4):hover .etj{
    display: block;
}

.left-list li:nth-child(5) span:last-child{
    background-color: #5ab7e8;
}
.left-list li:nth-child(5):hover .yyh{
    display: block;
}
.left-list li:nth-child(6):hover .zl{
    display: block;
    font-size: 12px;
}
