* {
    margin: 0;
    padding: 0;
}
.warp {
    width: 540px;
    height:auto;
    margin: auto;
    overflow: hidden;
    background-color: whitesmoke;
}
a {
    text-decoration: none;
}
.test{
font-size: 27px;
}
.warp .content1 {
    width: 540px;
    height:59px;
border: 1px solid #ebebeb;
position: fixed;
top: 0;
z-index: 999;
background-color: white;
}

.a1 {
    float: left;
    color: black;
    transform: scale(1.5);
    margin-top: 15px;
}

.a2 {
    float: right;
    font-size: 20px;
    position: relative;
    top: -50px;
    color: black;
    transform: scale(2.5);
    margin-right: 10px;
}
.ul{
    width: 160px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 47px;
    right: 0;
    font-size: 20px;
    padding-top: 10px;
   
}
.ul li{
    margin-top: 14px;
    margin-left: 16px;
}
.a1:hover {
    text-decoration: none;
}

.a2:hover {
    text-decoration: none;
}

.content2 {
    width: 540px;
    height: 248px;

    position: relative;
    overflow: hidden;
    margin-top: 75px;
}
ul li {
    list-style: none;
}
.pic {
    width: 1080px;
    height: 248px;
    position: absolute;
    top: 0;
    left: 0;
}
.pic li {
    float: left;
}
.pic li img {
    width: 540px;
    height: 248px;
}
.next {
    right: 0;
}
.icon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateY(-50%);
}
.icon li {
    float: left;
    margin: 0 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
}
.icon .action {
    background: red;
}
.content3{
    width: 540px;
}
.content3 ul
 {
    width: 2000px;
  
 }
  p {

   text-align: center;
}
.content3 .test{
    text-align: center;
}
.content3 span {
    color: gray;
}
.content3 ul li{
    position: relative;
    left: 0;
    
}
.content3 ul li p{
    color: orange;
}
.content3 ul li .phto {
    width: 115px;
    height: 110px;
    background: url(../img/5.png) 15px -212px no-repeat;
    display: block;

}
.content3 ul li .phto1 {
    width: 115px;
    height: 110px;
    background: url(../img/5.png) -215px -212px no-repeat;
    display: block;

}

.content3 ul li .phto2 {
    width: 115px;
    height: 110px;
    background: url(../img/5.png) -325px -100px no-repeat;
    display: block;

}

.content3 ul li .phto3 {
    width: 115px;
    height: 110px;
    background: url(../img/5.png) -325px 10px no-repeat;
    display: block;

}

.content3 ul li .phto4 {
    width: 115px;
    height: 110px;
    background: url(../img/5.png) -105px -100px no-repeat;
    display: block;

}
.content3 ul li .phto5{
    width: 115px;
    height: 110px;
    background: url(../img/5.png) -215px -100px no-repeat;
    display: block;

}
.content3 ul li .phto6 {
    width: 115px;
    height: 110px;
    background: url(../img/5.png) -105px -210px no-repeat;
    display: block;

}
.content3 ul li .phto7 {
    width: 115px;
    height: 110px;
    background: url(../img/5.png) -5px -100px no-repeat;
    display: block;

}
.content3 ul li .phto8 {
    width: 115px;
    height: 110px;
    background: url(../img/5.png) -105px 10px no-repeat;
    display: block;

}
.content3 ul li .phto9 {
    width: 115px;
    height: 110px;
    background: url(../img/5.png) -215px 10px no-repeat;
    display: block;

}
.content3 ul li .phto10 {
    width: 115px;
    height: 110px;
    background: url(../img/5.png) 5px 10px no-repeat;
    display: block;

}

.content3 ul li {
    float: left;
    text-align: center;
  
}
.content3 ul li p {
    margin-top: 10px;
    margin-left: 10px;
}
.content4{
 width: 540px;
}
.content4 .spn{
    float: left;
    width: 30px;
    height: 40px;
    background-color:rgba(80, 80, 80, .3) ;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
    position: relative;
    top: -110px;
}
.content4 .spn1{
    float: right;
    width: 30px;
    height: 40px;
    background-color:rgba(80, 80, 80, .3) ;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
    position: relative;
    top: -110px;
}
.content5 {
    width: 540px;
    margin-top: 180px;
}
.content5 a:hover{
    text-decoration: none;
}
.content5 .content5_right{
    float: left;
   margin-left: 30px;
   margin-top: 10px;
}
.content5 p{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.content5 img{
    width: 285px;
    height: 175px;
     float: left;
     margin-top: 20px;
}
.content5 .gray{
color: gray;
font-size: 17px;
}
.content5 p i{
    color: orange;
}
.content6 {
    width: 540px;
    margin-top: 220px;

}
.content6 .content6_right{
    float: left;
   margin-left: 30px;
   margin-top: 10px;
}
.content6 p{
  
    font-size: 20px;
    margin-top: 20px;
}

.content6 img{
    width: 285px;
    height: 175px;
     float: left;
     margin-top: 20px;
}
.content6 .gray{
color: gray;
font-size: 17px;
}
.content6 p i{
    color: orange;
}
.content7 {
    width: 540px;
    /* margin-top: 220px; */
}
.content7 .content7_right{
    float: left;
   margin-left: 30px;
   margin-top: 10px;
}
.content7 a:hover{
    text-decoration: none;
}
.content7 p{
  
    font-size: 20px;
    margin-top: 20px;
}

.content7 img{
    width: 285px;
    height: 175px;
     float: left;
     margin-top: 20px;
}
.content7 .gray{
color: gray;
font-size: 17px;
}
.content7 p i{
    color: orange;
}
.content8 {
    width: 540px;
    /* margin-top: 220px; */
}
.content8 a:hover{
    text-decoration: none;
}
.content8 .content8_right{
    float: left;
   margin-left: 30px;
   margin-top: 10px;
}
.content8 p{
  
    font-size: 20px;
    margin-top: 20px;
}

.content8 img{
    width: 285px;
    height: 175px;
     float: left;
     margin-top: 20px;
}
.content8 a:hover{
    text-decoration: none;
}
.content8 .gray{
color: gray;
font-size: 17px;
}
.content8 p i{
    color: orange;
}
.content9 {
    width: 540px;

    /* margin-top: 220px; */
}
.content9 .content9_right{
    float: left;
   margin-left: 30px;
   margin-top: 10px;
}
.content9 a:hover{
    text-decoration: none;
}
.content9 p{
  
    font-size: 20px;
    margin-top: 20px;
}

.content9 img{
    width: 285px;
    height: 175px;
     float: left;
     margin-top: 20px;
}
.content9 .gray{
color: gray;
font-size: 17px;
}
.content9 p i{
    color: orange;
}

.content10 {
    width: 540px;

    margin-top: 840px;

}
.content10 .content10_right{
    float: left;
   margin-left: 30px;
   margin-top: 10px;
}
.content10 p{
  /* text-align: center; */
    font-size: 20px;
    margin-top: 20px;
}

.content10 img{
    width: 285px;
    height: 175px;
     float: left;
     margin-top: 20px;
}
.content10 .gray{
color: gray;
font-size: 17px;
}
.content10 p i{
    color: orange;
}
.content11 {
    width: 540px;
    margin-top: 220px;
}
.content11 .content11_right{
    float: left;
   margin-left: 30px;
   margin-top: 10px;
}
.content11 a:hover{
    text-decoration: none;
}
.content11 p{
  
    font-size: 20px;
    margin-top: 20px;
}

.content11 img{
    width: 285px;
    height: 175px;
     float: left;
     margin-top: 20px;
}
.content11 .gray{
color: gray;
font-size: 17px;
}
.content11 p i{
    color: orange;
}
.content12 {
    width: 540px;
    margin-top: 220px;
}
.content12 .content12_right{
    float: left;
   margin-left: 30px;
   margin-top: 10px;
}
.content12 a:hover{
    text-decoration: none;
}
.content12 p{
  
    font-size: 20px;
    margin-top: 20px;
}

.content12 img{
    width: 285px;
    height: 175px;
     float: left;
     margin-top: 20px;
}
.content12 .gray{
color: gray;
font-size: 17px;
}
.content12 p i{
    color: orange;
}
.content13 {
    width: 540px;
    margin-top: 220px;
}
.content13 .content13_right{
    float: left;
   margin-left: 30px;
   margin-top: 10px;
}
.content13 a:hover{
    text-decoration: none;
}
.content13 p{
  
    font-size: 20px;
    margin-top: 20px;
}

.content13 img{
    width: 285px;
    height: 175px;
     float: left;
     margin-top: 20px;
}
.content13 .gray{
color: gray;
font-size: 17px;
}
.content13 p i{
    color: orange;
}
.content14 {
    width: 540px;
    margin-top: 220px;
}
.content14 .content14_right{
    float: left;
   margin-left: 30px;
   margin-top: 10px;
}
.content14 a:hover{
    text-decoration: none;
}
.content14 p{
  
    font-size: 20px;
    margin-top: 20px;
}

.content14 img{
    width: 285px;
    height: 175px;
     float: left;
     margin-top: 20px;
}
.content14 .gray{
color: gray;
font-size: 17px;
}
.content14 p i{
    color: orange;
}
.content15 {
    width: 540px;
    margin-top: 220px;
}
.content15 .content15_right{
    float: left;
   margin-left: 30px;
   margin-top: 10px;
}
.content15 a:hover{
    text-decoration: none;
}
.content15 p{
  
    font-size: 20px;
    margin-top: 20px;
}

.content15 img{
    width: 285px;
    height: 175px;
     float: left;
     margin-top: 20px;
}
.content15 .gray{
color: gray;
font-size: 17px;
}
.content9 p i{
    color: orange;
}
.content16 {
    width: 540px;
    margin-top: 220px;
}
.content16 .content16_right{
    float: left;
   margin-left: 30px;
   margin-top: 10px;
}
.content16 a:hover{
    text-decoration: none;
}
.content16 p{
  
    font-size: 20px;
    margin-top: 20px;
}

.content16 img{
    width: 285px;
    height: 175px;
     float: left;
     margin-top: 20px;
}
.content16 .gray{
color: gray;
font-size: 17px;
}
.content16 p i{
    color: orange;
}
.content17{

        width: 540px;
        height:59px;
    border: 1px solid #ebebeb;
    position: fixed;
   bottom: 0;
    z-index: 999;
    background-color: white;
    
}
.content17 ul li{
    width: 100px;
    height: 59px;
    /* border-right:1px solid gray ; */
    line-height: 59px;
    text-align: center;
    color: red;
    float: left;
    margin-left:50px ;
    font-size: 20px;
}