.list-nav {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
    border-top: 1px solid #ebebeb;
}
.w1204{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}
.list-nav a {
    position: relative;
    display: inline-block;
    height: 26px;
    color: #666;
    margin: 0 20px;
    font-size: 14px;
}
.nav-left{
    box-sizing: border-box;
    z-index: 9;
}
.list-nav a:hover{
    border-bottom:2px solid #FF4800;
}
.active{
    border-bottom:2px solid #FF4800;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.swiper-container .ation{
    text-align: right;
}
.swiper-container .ation span{
    margin: 0 10px !important;
}
.swiper-container .ation .swiper-pagination-bullet-active{
    background-color: white;
}
/* 推荐演出模块 */
.recommend{
    padding-top: 50px;
    padding-bottom: 300px;
}
 .recommend-p{
    font-size: 26px;
    text-align: center;
}
.recommend .recommend-line{
    width: 100%;
    border-top:1px dashed #F96c02;
    margin-top: 50px;
    position: relative;
}
.recommend-ul{
    width: 1148px;
    position: absolute;
    top: -10px;
    left: 40px;
}
.recommend-li{
    width: 260px;
    position: relative;
}
.recommend-li:hover .recommend-icon{
    border: 1px solid #F96c02;
    box-sizing: border-box;
}
.recommend-li:hover .recommend-icon i{
    display: block;
}
.recommend-li:hover .recommend-bg{
    display: block;
}
.recommend-li:hover .recommend-box{
    border: 1px solid #F96c02;
}
.recommend-li:hover .img-cont{
    background-color: rgba(78, 92, 122, 0.2);
}
.recommend-icon{
    display: block;
    width: 21px;
    height: 21px;
    text-align: center;
    border: 1px solid gray;
    background-color: white;
    border-radius: 21px;
}
.recommend-icon i{
    display: none;
    width: 4px;
    height: 4px;
    background-color: #F96c02;
    margin: 7px 0px 0px 7px;  
}
.recommend-time{
    font-size: 20px;
    margin-top: 15px;
}
.recommend-bg{
    display: none;
    position: absolute;
    left: 10px;
    top: 20px;
}
.icon-top{
    display: block;
    width: 1px;
    height: 15px;
    background-color: #F96c02;
}
.icon-bottom{
    display: block;
    margin-top: 30px;
    width: 1px;
    height: 15px;
    background-color: #F96c02;
}
.recommend-img{
    width: 258px;
    height: 140px;
    overflow: hidden;
}
.recommend-box{
    width: 260px;
    margin-top: 19px;
    border: 1px solid transparent;
}
.img-info{
    width: 258px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    position: relative;
    padding: 3px 3px;
    top: -25px;
    background-color: rgba(62, 62, 62, .3);
}
.img-info a{
    color: white;
}
.img-cont{
    font-size: 12px;
    padding: 4px 7px;
    margin-top: -25px;
}
.img-price{
    height: 36px;
    font-size: 14px;
    color: #F96c02;
    position: absolute;
    right: 10px;
    bottom: 0px;
}
.img-price span:nth-of-type(2){
    font-size: 23px;
    padding: 0 1px;
}
.img-price span:last-of-type{
    color: #999999;
}
/* 音乐剧模块 */
.pcity{
    padding-top: 40px;
    padding-bottom: 85px;
    position: relative;
    background: #FAFAFA;
}
.pcity-city{
    text-align: center;
    font-size: 14px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    padding: 40px 10px 24px;
}
.pcity-city a{
    display: inline-block;
    position: relative;
    height: 20px;
    padding: 0px 10px;
    color: #999;
    border-right: 1px solid #ebebeb;
}
.pcity-city span{
    display: inline-block;
    height: 30px;
    padding: 0px 15px;
}
.pcity-city a:last-child{
    border: none;
}
.pcity-city span:hover{
    color: #ff7919;
    border-bottom: 2px solid #ff7919;
}
.pcity-city .active-a{
    color: #ff7919;
    border-bottom: 2px solid #ff7919;
}
/* citys模块 */
.citys{
    display: none;
    position: absolute;
    width: 455px;
    right: 130px;
    top:135px;
    z-index: 3;
    background: #fff;
    padding: 8px 16px;
    border: 1px solid #ebebeb;
    text-align: left;
}
.citys a{
    display: inline-block;
    width: 101px;
    height: 30px;
    text-align: left;
    color: #333333;
}
.citys a span{
    color: #999999;
    padding: 0px 12px;
    letter-spacing: .15em;
}
.citys li a:hover{
    color: #ff7919;
}
.citys li a:hover span{
    color: #ff7919;
}
/*内容模块*/
.box{
    /* position: relative; */
    padding: 30px 0px 40px 0px;
}
.picture{
    width: 240px;
    height: 395px;
    background: #fff;
    float: left;
    border: 1px solid #ebebeb;
}
.picture img{
    width: 200px;
    height: 265px;
    position: relative;
    top:15px;
    left:15px;   
}
.picture .p1{
    position: relative;
    top:28px;
    left:15px;
    width: 210px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.picture:hover{
    border: 1px solid #F96c02;
    transform: all 1s;
}
.picture:hover p{
    color: #f96C02;
}
.money{
    position: relative;
    font-size: 24px;
    color: #f96C02;
    left:12px;
    top:37px;
}
.qi{
    font-size: 14px;
    color: #999999;
    position: relative;
    top:35px;
    left:15px;
}
.time{
    font-size: 14px;
    color: #999999;
    position: relative;
    top:46px;
    left:30px;
    width: 120px;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 更多 */
.more{
    width: 100%;
    height: 48px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    clear:both;
    position: relative;
    top: 40px;
}
.more>a{
    display: inline-block;
    border: 1px solid #ebebeb;
    border-radius: 50px;
    width: 180px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    color: #999;
    background-color: #fff;
}
.more>a:hover{
    color: #ff7919;
    border: 1px solid #ff7919;
}
